body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#plot {
    box-sizing: border-box;
}

#plot-bounds {
    overflow: hidden;
}

.container {
    grid-template-columns: auto 1fr;
}

#viewport-form {
    position: fixed;
    top: 8px;
    right: 8px;
    padding: 8px;
    background: #222;
    color: #f0f0f0;
}

#viewport-form > * {
    display: block;
    margin-bottom: 8px
}

#viewport-form input, #viewport-form select, button {
    background-color: #444;
    border: none;
    color: inherit;
}

#render-indicator {
    height: 12px;
    width: 12px;
    border-radius: 999px;
}

#render-indicator.rendering {
    background-color: red;
}

#render-indicator.done {
    background-color: green;
}